
ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    width: 100%;
    font-family: "Roboto Slab";
  }
.centered-content .info {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centered-content .tabs {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.centered-content .tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}
.centered-content .tabs-title:after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #937341;;
    margin-top: 4px;
    transition: 0.4s;
}
.centered-content .tabs-title:hover:after {
    background-color: #937341;;
    width: 100%;
}
.centered-content .tabcontent {
    width: 70%;
    display: flex;
    padding: 10px;
    transition: 0.3s;
}

.centered-content .tabcontent .description:after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #c78030;
    margin-top: 30px;
}  
.centered-content .tabcontent .description {
    margin-top: 30px;
    color: #000;
    font-weight: 300;
    padding-right: 20px;
    list-style: none;
}
.centered-content .info .hide {
    display: none;
}
.centered-content .info .show {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}
